version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ../..:/workspace:cached
    command: sleep infinity
    # depends_on:
    #   - db
    environment:
      - NODE_ENV=dev
      # Add your environment variables here
      # - DATABASE_URL=postgresql://postgres:postgres@db:5432/goapi
    networks:
      - dev-network

networks:
  dev-network:
    driver: bridge

